[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "==1.6.3"
cachecontrol = "==0.13.1"
cachetools = "==5.3.1"
certifi = "==2024.07.04"
charset-normalizer = "==3.3.0"
click = "==8.1.7"
colorama = "==0.4.6"
commonmark = "==0.9.1"
deprecated = "==1.2.14"
dill = "==0.3.4"
firebase-admin = "==5.2.0"
flask-cors = "==4.0.2"
flask-limiter = "==3.1.0"
flask = "==2.3.3"
google-api-core = "==2.12.0"
google-api-python-client = "==2.103.0"
google-auth-httplib2 = "==0.1.1"
google-auth = "==2.23.3"
google-cloud-core = "==2.3.3"
google-cloud-firestore = "==2.12.0"
google-cloud-secret-manager = "==2.8.0"
google-cloud-storage = "==2.1.0"
google-crc32c = "==1.5.0"
google-resumable-media = "==2.6.0"
googleapis-common-protos = "==1.60.0"
grpc-google-iam-v1 = "==0.12.6"
grpcio-status = "==1.59.0"
grpcio = "==1.59.0"
gunicorn = "==22.0.0"
httplib2 = "==0.22.0"
idna = "==3.7"
importlib-resources = "==6.1.0"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.4"
libcst = "==1.1.0"
limits = "==3.6.0"
markupsafe = "==2.1.3"
marshmallow = "==3.14.1"
msgpack = "==1.0.7"
mypy-extensions = "==1.0.0"
ordered-set = "==4.1.0"
peewee = "==3.15.4"
proto-plus = "==1.22.3"
protobuf = "==4.24.4"
pyasn1-modules = "==0.3.0"
pyasn1 = "==0.5.0"
pygments = "==2.16.1"
pyparsing = "==3.1.1"
pyqt5-qt5 = "==5.15.2"
pyqt5-sip = "==12.12.2"
pyqt5 = "==5.15.6"
pyyaml = "==6.0"
requests = "==2.32.0"
rich = "==12.6.0"
rsa = "==4.9"
six = "==1.16.0"
typing-extensions = "==4.8.0"
typing-inspect = "==0.9.0"
uritemplate = "==4.1.1"
urllib3 = "==2.2.2"
werkzeug = "==3.0.3"
wrapt = "==1.15.0"

[dev-packages]

[requires]
python_version = "3.11"
