cachecontrol==0.12.12; python_version >= "3.6"
cachetools==5.3.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation != "PyPy" or python_full_version >= "3.6.0" and python_version >= "3.7" and platform_python_implementation != "PyPy")
certifi==2022.12.7; python_version >= "3.7" and python_version < "4" and platform_python_implementation != "PyPy"
charset-normalizer==3.0.1; python_version >= "3.7" and python_version < "4" and platform_python_implementation != "PyPy"
click==8.1.3; python_version >= "3.7"
colorama==0.4.6; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.7.0"
commonmark==0.9.1; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.7"
deprecated==1.2.13; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
dill==0.3.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.1.0")
firebase-admin==5.2.0; python_version >= "3.6"
flask-cors==3.0.10
flask-limiter==3.1.0; python_version >= "3.7"
flask==2.2.2; python_version >= "3.7"
google-api-core==2.11.0; platform_python_implementation != "PyPy" and python_version >= "3.7"
google-api-python-client==2.77.0; python_version >= "3.7"
google-auth-httplib2==0.1.0; python_version >= "3.7"
google-auth==2.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation != "PyPy" or python_full_version >= "3.6.0" and python_version >= "3.7" and platform_python_implementation != "PyPy"
google-cloud-core==2.3.2; platform_python_implementation != "PyPy" and python_version >= "3.7"
google-cloud-firestore==2.9.1; platform_python_implementation != "PyPy" and python_version >= "3.7"
google-cloud-secret-manager==2.8.0; python_version >= "3.6"
google-cloud-storage==2.1.0; python_version >= "3.7"
google-crc32c==1.5.0; python_version >= "3.7"
google-resumable-media==2.4.1; python_version >= "3.7"
googleapis-common-protos==1.58.0; platform_python_implementation != "PyPy" and python_version >= "3.11"
grpc-google-iam-v1==0.12.6; python_version >= "3.7"
grpcio-status==1.52.0; python_version >= "3.11" and platform_python_implementation != "PyPy"
grpcio==1.52.0; python_version >= "3.11" and platform_python_implementation != "PyPy"
httplib2==0.21.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
idna==3.4; python_version >= "3.7" and python_version < "4" and platform_python_implementation != "PyPy"
itsdangerous==2.1.2; python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
libcst==0.4.9; python_version >= "3.7"
limits==3.2.0; python_version >= "3.7"
markupsafe==2.1.2; python_version >= "3.7"
marshmallow==3.14.1; python_version >= "3.6"
msgpack==1.0.4; python_version >= "3.6"
mypy-extensions==1.0.0; python_version >= "3.7"
ordered-set==4.1.0; python_version >= "3.7"
packaging==23.0; python_version >= "3.7"
peewee==3.15.4
proto-plus==1.22.2
protobuf==4.21.12; platform_python_implementation != "PyPy" and python_version >= "3.11"
psycopg2-binary==2.9.3; python_version >= "3.6"
pyasn1-modules==0.2.8; python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation != "PyPy" or python_full_version >= "3.6.0" and python_version >= "3.7" and platform_python_implementation != "PyPy"
pyasn1==0.4.8; python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation != "PyPy" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation != "PyPy" or python_full_version >= "3.6.0" and python_version >= "3.7" and platform_python_implementation != "PyPy") or python_full_version >= "3.6.0" and python_version >= "3.7" and platform_python_implementation != "PyPy" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation != "PyPy" or python_full_version >= "3.6.0" and python_version >= "3.7" and platform_python_implementation != "PyPy")
pygments==2.14.0; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pyqt5-qt5==5.15.2; python_version >= "3.6"
pyqt5-sip==12.11.1; python_version >= "3.7"
pyqt5==5.15.6; python_version >= "3.6"
pyyaml==6.0; python_version >= "3.6"
requests==2.28.2; python_version >= "3.7" and python_version < "4" and platform_python_implementation != "PyPy"
rich==12.6.0; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.7"
rsa==4.9; python_version >= "3.6" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation != "PyPy" or python_full_version >= "3.6.0" and python_version >= "3.7" and platform_python_implementation != "PyPy")
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation != "PyPy" or python_full_version >= "3.6.0" and python_version >= "3.7" and platform_python_implementation != "PyPy"
typing-extensions==4.4.0; python_version >= "3.7"
typing-inspect==0.8.0; python_version >= "3.7"
uritemplate==4.1.1; python_version >= "3.7"
urllib3==1.26.14; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" and platform_python_implementation != "PyPy" or python_version >= "3.7" and python_version < "4" and platform_python_implementation != "PyPy" and python_full_version >= "3.6.0"
werkzeug==2.2.3; python_version >= "3.7"
wrapt==1.14.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
